# caches
__pycache__/
.cache/
.huggingface/

# envs
.venv/
venv/
.env/
.env
conda/
__pycache__/
*.pyc
*.pyo

# data + outputs
data/
datasets/

# re-include segmentation datasets source code
!segmentation/
!segmentation/src/
!segmentation/src/datasets/
!segmentation/src/datasets/*.py

# ignore Python cache
segmentation/src/datasets/__pycache__/

outputs/
outputs_jepa/
logs/
wandb/

# checkpoints / weights
checkpoints/
checkpoints_jepa/
*.pth
*.pth.tar
*.pt
*.ckpt
*.tar
*.tar.gz
*.safetensors

# OS/editor
.DS_Store
.vscode/
.idea/